openapi: 3.0.0
info:
  description: 'API for Zencoder. Zencoder offers a fast and reliable transcoding service for video and audio files, as well as live streams. It can produce outputs for the web and a wide variety of devices, and can easily be integrated with your CMS and other applications.


    **Base URL: https://app.zencoder.com/api/v2**'
  version: 2.0.0
  title: Zencoder Accounts API
  x-bc-access: public
servers:
- url: https://app.zencoder.com/api/v2
  variables: {}
tags:
- name: Accounts
  description: Operations for managing accounts.
paths:
  /account:
    post:
      tags:
      - Accounts
      summary: Create an Account
      description: All that is required is an email address and an agreement to the terms of service. You can also send a password, but if you don't one will be generated. New accounts will be created under the Test (Free) plan.
      operationId: createAccount
      security: []
      parameters:
      - $ref: '#/components/parameters/ContentType'
      requestBody:
        description: Fields for creating a free test account.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAccountFields'
        required: true
      responses:
        '200':
          description: Create account response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAccountResponse'
        '403':
          description: Forbidden
        '422':
          description: Invalid query parameters
        '500':
          description: Server error
      deprecated: false
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    get:
      tags:
      - Accounts
      summary: Get Account Details
      description: '''Account details may be retrieved by issuing an HTTP GET to https://app.zencoder.com/api/v2/account. Account states are `Active`, `Stopped`, `Suspended`, and `Cancelled`. Billing states are `Active`, `Past Due`, and `Cancelled`.'''
      operationId: getAccountDetails
      security: []
      parameters:
      - $ref: '#/components/parameters/ContentType'
      - $ref: '#/components/parameters/ZencoderApiKey'
      responses:
        '200':
          description: Get account details response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccountDetailsResponse'
        '403':
          description: Forbidden
        '500':
          description: Server error
      deprecated: false
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /account/integration:
    put:
      tags:
      - Accounts
      summary: Turn on Integration Mode
      description: '''Integration (test) mode can be turned on by issuing a PUT request to https://app.zencoder.com/api/v2/account/integration. A successful response will be indicated by a HTTP status of 204 No Content.'''
      operationId: turnOnIntegration
      security: []
      parameters:
      - $ref: '#/components/parameters/ContentType'
      - $ref: '#/components/parameters/ZencoderApiKey'
      responses:
        '204':
          description: No Content
        '403':
          description: Forbidden
        '500':
          description: Server error
      deprecated: false
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /account/live:
    put:
      tags:
      - Accounts
      summary: Turn off Integration Mode
      description: '''Integration (test) mode can be turned off by issuing a PUT request to https://app.zencoder.com/api/v2/account/live. A successful response will be indicated by a HTTP status of 204 No Content.'''
      operationId: turnOffIntegration
      security: []
      parameters:
      - $ref: '#/components/parameters/ContentType'
      - $ref: '#/components/parameters/ZencoderApiKey'
      responses:
        '204':
          description: No Content
        '403':
          description: Forbidden
        '500':
          description: Server error
      deprecated: false
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
components:
  schemas:
    GetAccountDetailsResponse:
      title: Get Account Details Response
      type: object
      properties:
        account_state:
          type: string
          description: The current account state
          enum:
          - active
          - stopped
          - suspended
          - cancelled
        plan:
          type: string
          description: The current account plan
          example: growth
        billing_state:
          type: string
          description: The current billing state
          enum:
          - active
          - past due
          - cancelled
        minutes_used:
          type: integer
          description: Minutes of encoded output used this month
          example: 12549
        minutes_included:
          type: integer
          description: Minutes of encoded output included in the plan per month
          example: 25000
        integration_mode:
          type: boolean
          description: Whether the account is in integration (test) mode
    CreateAccountFields:
      title: Create Account Request Body Fields
      type: object
      description: Required fields for a request to create a free test account on Zencoder
      required:
      - terms_of_service
      - email
      - first_name
      - last_name
      - company
      - country
      properties:
        terms_of_service:
          type: string
          description: Indication that you agree with the terms of service - the only allowed value is `"1"` (a string)
          enum:
          - 1
        first_name:
          type: string
          description: First name of the account holder
        last_name:
          type: string
          description: Last name of the account holder
        company:
          type: string
          description: Name of the company
        country:
          type: string
          description: Country where the company is headquartered
          enum:
          - Afghanistan
          - Albania
          - Algeria
          - American Samoa
          - Andorra
          - Anguilla
          - Antarctica
          - Antigua And Barbuda
          - Argentina
          - Armenia
          - Aruba
          - Australia
          - Austria
          - Azerbaijan
          - Bahamas
          - Bahrain
          - Bangladesh
          - Barbados
          - Belarus
          - Belgium
          - Belize
          - Benin
          - Bermuda
          - Bhutan
          - Bolivia
          - Bosnia and Herzegovina
          - Botswana
          - Bouvet Island
          - Brazil
          - British Indian Ocean Territory
          - Brunei Darussalam
          - Bulgaria
          - Burkina Faso
          - Burundi
          - Cambodia
          - Cameroon
          - Canada
          - Cape Verde
          - Cayman Islands
          - Central African Republic
          - Chad
          - Chile
          - China
          - Christmas Island
          - Cocos (Keeling) Islands
          - Colombia
          - Comoros
          - Congo
          - Congo, the Democratic Republic of the
          - Cook Islands
          - Costa Rica
          - Cote d'Ivoire
          - Croatia
          - Cyprus
          - Czech Republic
          - Denmark
          - Djibouti
          - Dominica
          - Dominican Republic
          - East Timor
          - Ecuador
          - Egypt
          - El Salvador
          - Equatorial Guinea
          - Estonia
          - Ethiopia
          - Falkland Islands
          - Faroe Islands
          - Fiji
          - Finland
          - France
          - French Guiana
          - French Polynesia
          - French Southern Territories
          - Gabon
          - Gambia
          - Georgia
          - Germany
          - Ghana
          - Gibraltar
          - Great Britain
          - Greece
          - Greenland
          - Grenada
          - Guadeloupe
          - Guam
          - Guatemala
          - Guinea
          - Guinea-Bissau
          - Guyana
          - Haiti
          - Heard and Mc Donald Islands
          - Honduras
          - Hong Kong
          - Hungary
          - Iceland
          - India
          - Indonesia
          - Ireland
          - Israel
          - Italy
          - Jamaica
          - Japan
          - Jordan
          - Kazakhstan
          - Kenya
          - Kiribati
          - Korea, Republic of
          - Korea (South)
          - Kuwait
          - Kyrgyzstan
          - Lao People's Democratic Republic
          - Latvia
          - Lebanon
          - Lesotho
          - Liberia
          - Libya
          - Liechtenstein
          - Lithuania
          - Luxembourg
          - Macau
          - Macedonia
          - Madagascar
          - Malawi
          - Malaysia
          - Maldives
          - Mali
          - Malta
          - Marshall Islands
          - Martinique
          - Mauritania
          - Mauritius
          - Mayotte
          - Mexico
          - Micronesia, Federated States of
          - Moldova, Republic of
          - Monaco
          - Mongolia
          - Montserrat
          - Morocco
          - Mozambique
          - Myanmar
          - Namibia
          - Nauru
          - Nepal
          - Netherlands
          - Netherlands Antilles
          - New Caledonia
          - New Zealand
          - Nicaragua
          - Niger
          - Nigeria
          - Niue
          - Norfolk Island
          - Northern Ireland
          - Northern Mariana Islands
          - Norway
          - Oman
          - Pakistan
          - Palau
          - Panama
          - Papua New Guinea
          - Paraguay
          - Peru
          - Philippines
          - Pitcairn
          - Poland
          - Portugal
          - Puerto Rico
          - Qatar
          - Reunion
          - Romania
          - Russia
          - Russian Federation
          - Rwanda
          - Saint Kitts and Nevis
          - Saint Lucia
          - Saint Vincent and the Grenadines
          - Samoa (Independent)
          - San Marino
          - Sao Tome and Principe
          - Saudi Arabia
          - Scotland
          - Senegal
          - Serbia and Montenegro
          - Seychelles
          - Sierra Leone
          - Singapore
          - Slovakia
          - Slovenia
          - Solomon Islands
          - Somalia
          - South Africa
          - South Georgia and the South Sandwich Islands
          - South Korea
          - Spain
          - Sri Lanka
          - St. Helena
          - St. Pierre and Miquelon
          - Suriname
          - Svalbard and Jan Mayen Islands
          - Swaziland
          - Sweden
          - Switzerland
          - Taiwan
          - Tajikistan
          - Tanzania
          - Thailand
          - Togo
          - Tokelau
          - Tonga
          - Trinidad
          - Trinidad and Tobago
          - Tunisia
          - Turkey
          - Turkmenistan
          - Turks and Caicos Islands
          - Tuvalu
          - Uganda
          - Ukraine
          - United Arab Emirates
          - United Kingdom
          - United States
          - Uruguay
          - Uzbekistan
          - Vanuatu
          - Vatican City State (Holy See)
          - Venezuela
          - Viet Nam
          - Virgin Islands (British)
          - Virgin Islands (U.S.)
          - Wales
          - Wallis and Futuna Islands
          - Western Sahara
          - Yemen
          - Zambia
          - Zimbabwe
        email:
          type: string
          description: email address for the account; the request will fail if the email address is already set for a Zencoder account
        password:
          type: string
          description: password for the account
        confirm_password:
          type: string
          description: enter the password again
    CreateAccountResponse:
      title: Create Account Response
      type: object
      properties:
        api-key:
          type: string
          description: The API key to autheticate requests
        password:
          type: string
          description: The password submitted or auto-generated if none was submitted with the create account request
  parameters:
    ContentType:
      name: Content-Type
      in: header
      description: 'Content-Type: application/json'
      required: true
      style: simple
      explode: false
      schema:
        type: string
    ZencoderApiKey:
      name: Zencoder-Api-Key
      in: header
      description: Your API key
      required: true
      schema:
        type: string
x-bc-implicit-head: true
x-bc-implicit-options: true
x-bc-upstream: http://backend_server
